.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
    font-size: 23px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
    font-size: 20px;
}    

.messages .message {
    color: white;
}

.img{
    height: 50px;
    border-radius: 50%;
}


.button{
    font-size: 20px;
}

.textarea{
    height: 70px;
}



